.pizzaPage {
   position: relative;
   width: 100%;
   height: 100%;
}

.pizzaName {
   font-size: 32px;
   overflow-wrap: break-word;
   word-break: break-word;
   text-wrap: nowrap;
   white-space: nowrap;
   font-weight: bold;
}

.pizzaDescription {
   margin-top: 10px;
   width: 100%;
   max-width: 400px;
}

.buyContainer {
   display: flex;
   margin-top: 25px;
   justify-content: flex-start;
   align-items: center;
   align-content: center;
   font-size: 20px;
}

.pizzaPirce {
   font-size: inherit;
   font-weight: bold;
   overflow-wrap: break-word;
   word-break: break-word;
   text-wrap: nowrap;
   white-space: nowrap;
}

.buyPizzaBtn {
   font-size: 20px;
   max-width: 200px;
   width: 100%;
   font-weight: bold;
   padding: 2px 10px 4px;
   border-radius: 5px;
   margin-left: 20px;
}

.boxForImg {
   width: 100%;
   height: calc(100% + 80px);
   top: 0;
   left: 0;
   position: absolute;
   overflow: hidden;
   pointer-events: none;
}

.pizzaImg {
   height: 98vh;
   width: 98vh;
   aspect-ratio: 1;
   position: absolute;
   transform: translate(50%, 0);
   right: 0;
   top: 0;
   background-size: cover;
   background-position: right;
   z-index: -1;
}

.staticpizzaImg {
   display: none;
   opacity: 0;
   scale: 0;
}

@media (max-width: 720px) {
   .pizzaImg {
      height: 120vw;
      width: 120vw;
      transform: translate(0, -40%);
      right: auto;
      left: -6%;
      top: 0;
   }

   .pizzaPage {
      padding-top: 55vw;
   }
   .buyPizzaBtn {
      width: 100%;
   }
}

@media (max-width: 320px) {
   .pizzaImg {
      transform: translate(0, -30%);
   }
   .pizzaName {
      font-size: 25px;
   }
   .pizzaDescription {
      font-size: 12px;
      margin-top: 10px;
   }
   .buyContainer {
      font-size: 20px;
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-start;
   }
   .buyPizzaBtn {
      margin-left: 0;
      margin-top: 10px;
      max-width: 95%;
      font-size: 16px;
   }
}

@media (max-width: 200px) {
   .boxForImg {
      display: none;
      opacity: 0;
      scale: 0;
   }

   .staticpizzaImg {
      display: block;
      opacity: 1;
      scale: 1;
      width: 100%;
      min-height: 50px;
      aspect-ratio: 1;
      background-size: cover;
      background-position: center;
   }

   .staticpizzaImg::before {
      content: "";
      display: block;
      padding-top: 100%;
   }

   .pizzaName {
      font-size: 22px;
   }

   .pizzaPage {
      padding-top: 0;
   }

   .buyContainer {
      margin-top: 6px;
      font-size: 15px;
   }
}
