@keyframes skeleton-loading {
   0% {
      background-color: hsl(0, 0%, 85%);
   }
   100% {
      background-color: hsl(0, 0%, 96%);
   }
}

.skeletonPhoto {
   width: 280px;
   height: 280px;
   margin: 10px;
   border-radius: 100%;
   animation: skeleton-loading 1s linear infinite alternate;
   aspect-ratio: 1;
}

.skeletonPhoto::before {
   content: "";
   display: block;
   padding-top: 100%;
}

.skeletonText__title {
   width: 60%;
   height: 29px;
   animation: skeleton-loading 1s linear infinite alternate;
   border-radius: 4px;
}

.skeletonText__description {
   width: 100%;
   height: 72px;
   animation: skeleton-loading 1s linear infinite alternate;
   border-radius: 4px;
}

.skeletonText__price {
   margin-top: 5px;
   width: 30%;
}

@media (max-width: 600px) {
   .skeletonPhoto {
      max-height: 280px;
      min-height: 50px;
      width: 100%;
      max-width: 280px;
   }
}
